---
---
<section class="mt-4 pl-3 w-96 lg:w-auto mx-auto">
  <h2 class="text-3xl font-bold">And more...</h2>

  <ul class="space-y-2 p-6 xl:list-disc text-gray-500">
    <li>Goals <i>(coming soon)</i></li>
    <li>Notes <i>(coming soon)</i></li>
    <li>Bookmarks <i>(coming soon)</i></li>
    <li>Bitacora <i>(coming soon)</i></li>
  </ul>
</section>
