---
---
<section class="mt-4 pl-3 w-96 xl:w-auto mx-auto">
  <h2 class="text-3xl font-bold">And more...</h2>

  <ul class="space-y-2 p-6 xl:list-disc">
    <li><a href="/goals">Goals →</a></li>
    <li><a href="/notes">Notes →</a></li>
    <li><a href="/bitacora">Bitacora →</a></li>
    <li><a href="/bookmarks">Bookmarks →</a></li>
  </ul>
</section>
