---
---
<section class="mt-4 mb-4 pl-3 sm:w-3/4 md:w-2/3 lg:w-3/5 xl:w-full mx-auto text-center xl:text-left">
  <h2 class="text-2xl font-bold">And more...</h2>

  <ul class="space-y-2 p-6 xl:list-disc text-gray-500">
    <li>Goals <i>(coming soon)</i></li>
    <li>Notes <i>(coming soon)</i></li>
    <li>Bookmarks <i>(coming soon)</i></li>
    <li>Bitacora <i>(coming soon)</i></li>
  </ul>
</section>
