---
import Project from "../projects/Project.astro"

const response = await fetch(`${import.meta.env.BACKEND_API_URL}/api/v1/projects`);
const data = await response.json();
const projects = data.projects;
---

<section class="mt-4 mb-4 pl-3 w-96 lg:w-auto mx-auto">
  <h2 class="text-3xl font-bold">Projects</h2>

  {projects.map((project) => (
    <article class="mt-5">
      <Project project={project}>
    </article>
  ))}

  <div class="mt-5">
    <a href="/projects" class="font-bold"><i>View more projects →</i></a>
  </div>
</section>
