---
const projects = [
  {
    name: "Dotfiles",
    description: "My personal dev setup.",
    url: "https://github.com/nickel/dotfiles"
  },
  {
    name: "text-to-speech",
    description: "A simple ruby script to convert a text to audio using a Google service.",
    url: "https://github.com/nickel/text-to-speech"
  }
];
---

<section class="mt-4 mb-4 pl-3 sm:w-3/4 md:w-2/3 lg:w-3/5 xl:w-full mx-auto">
  <h2 class="text-2xl font-bold text-center xl:text-left">Projects</h2>

  <div class="grid grid-cols-2 gap-4 mt-4">
    {projects.map((project) => (
      <div class="border border-dashed border-gray-200 p-3">
        <h3 class="font-bold">{project.name}</h3>
        <p class="text-gray-700 mt-2">{project.description}</p>
        <p class="mt-2"><a href="{project.url}" class="text-blue-500 text-sm">Link</a></p>
      </div>
    ))}
  </div>
</section>
