---
const projects = [
  {
    name: "Dotfiles",
    description: "My personal dev setup.",
    url: "https://github.com/nickel/dotfiles"
  },
  {
    name: "text-to-speech",
    description: "A simple ruby script to convert a text to audio using a Google service.",
    url: "https://github.com/nickel/text-to-speech"
  }
];
---

<section class="mt-4 mb-4 pl-3 w-96 lg:w-auto mx-auto">
  <h2 class="text-3xl font-bold">Projects</h2>

  {projects.map((project) => (
    <article class="mt-5">
      <h3 class="text-xl font-bold">
        <a href="{project.url}">{project.name} →</a>
      </h3>
      <p class="text-gray-700 mt-2">
        {project.description}
      </p>
    </article>
  ))}
</section>
