---
import Layout from "../layouts/Layout.astro"
import Logo from "../sections/Logo.astro"

const response = await fetch(`${import.meta.env.BACKEND_API_URL}/api/v1/bookmarks`);
const data = await response.json();
const bookmarks = data.bookmarks;
---

<Layout>
  <div class="p-4">
    <header class="mt-4">
      <Logo title="Juan Gallego IV's bookmarks" />
      <p>
        Who knows? Maybe one day I'll need them.
      </p>
    </header>

    <main class="mt-4 pt-4 border-t">
      <ul>
        {bookmarks.map((bookmark) => (
          <li>
            <div class="text-2xl">
              <a href={bookmark.url} 
                 target="_blank" 
                 rel="nofollow noopener noreferrer">
                {bookmark.title} →
              </a>
            </div>
            <div class="p-2">{bookmark.description}</div>
          </li>
        ))}
      </ul>
    </main>
  </div>
</Layout>
