---
import Layout from "../layouts/Layout.astro"

import PresentationCard from "../sections/homepage/PresentationCard.astro"
import Projects from "../sections/homepage/Projects.astro"
import Links from "../sections/homepage/Links.astro"

export const prerender = true;
---
<Layout>
  <style>
    body {
      align-content: center;
      align-items:center;
      min-height: 80vh;
      padding: 60px 0px;
    }
  </style>

  <div class="grid grid-cols-1 xl:grid-cols-3">
    <div class="border-b xl:border-b-0 xl:border-r pt-4 pb-4">
      <PresentationCard />
    </div>
    <div class="border-b xl:border-b-0 xl:border-r pt-4 pb-4 pl-4">
      <Projects />
    </div>
    <div class="pl-4">
      <Links />
    </div>
  </div>
</Layout>
