---
// Import the LoginForm component
import LoginForm from '../components/LoginForm.jsx';
---

<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <LoginForm client:load />
</body>
</html>
