---
import Layout from "../layouts/Layout.astro"
import Logo from "../sections/Logo.astro"
import Project from "../sections/projects/Project.astro"

const response = await fetch(`${import.meta.env.BACKEND_API_URL}/api/v1/projects`);
const data = await response.json();
const projects = data.projects;
---

<Layout>
  <header class="mt-4">
    <Logo title="Juan Gallego IV's projects" />
    <p>
      My personal projects.
    </p>
  </header>

  <main class="mt-4 pt-4 border-t">
    <ul>
      {projects.map((project) => (
        <li>
          <Project project={project} />
        </li>
      ))}
    </ul>
  </main>
</Layout>
